* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #a9a9a9;
	color: #fafafa;
	font-family: "Nunito", sans-serif;
	font-size: 1.6rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.wrapper {
	text-align: center;
	font-size: 0.65em;
}
h1 {
	display: inline-block;
	margin-bottom: 10rem;
	font-size: 3rem;
	color: black;
	letter-spacing: 2px;
	padding: 0 5px;
	background: linear-gradient(to bottom, transparent 50%, #ffe54c 50%);
	background-size: auto;
}
.help {
	font-size: 1rem;
}

span {
	border-bottom: 2px solid #534f59;
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 600;
	color: #ffe54c;
	height: 2.4rem;
	line-height: 2.4rem;
	margin: 0 0.2rem;
	text-align: center;
	width: 2.4rem;
}

p {
	margin-bottom: 4.5rem;
	font-size: 1.25em;
	letter-spacing: 1px;
}

.puzzle {
	display: flex;
	margin-bottom: 4.8rem;
}

/* BUTTON */
.button {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	border: 2px solid black;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:after {
	content: "";
	background-color: #ffe54c;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

.button:hover:after {
	top: 0px;
	left: 0px;
}

@media (min-width: 768px) {
	.button {
		padding: 13px 50px 13px;
	}
}
